@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Smythe&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f4;
  font-family: "Smythe", cursive;
  color: #f5f5f5;
}

.container {
  width: 20%;
  height: 85vh;
  background-color: #0f172a;
  border-radius: 5px;
  position: relative;
}

header {
  background-image: url("assets/Header-photo.jpg");
  border-radius: 5px 5px 0 0;
  background-size: cover;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.title {
  padding: 20px;
  font-weight: bold;
}
.main-section {
  padding: 20px;
}

.image {
  width: 70px;
  height: 70px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sub-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

p {
  margin: 0;
}
.ingredients {
  display: flex;
  flex-wrap: wrap;
}

.add-btn {
  border-radius: 50%;
  outline: none;
  border: none;
  height: 25px;
  width: 25px;
  font-size: 1.1rem;
  cursor: pointer;
}
hr {
  margin-top: 20px;
}

.order {
  padding: 20px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list {
  display: flex;
}

.remove-btn {
  background-color: transparent;
  color: #8a8a84;
  font-style: italic;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}
.totals {
  display: flex;
  justify-content: space-between;
}

.complete-order-btn {
  background-color: #16db99;
  width: 100%;
  margin-top: 20px;
  height: 2.5rem;
  color: #f5f5f4;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5ms ease-in;
}

.complete-order-btn:hover {
  background-color: #25c28e;
}

.hide {
  display: none;
}

.payment-modal {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 40%;
  width: 80%;
  background: #1e293b;
  border-radius: 3px;
  padding: 20px;
  filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
.pay-btn {
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 2px;
  text-indent: 5px;
}

.pay-btn {
  background-color: #16db99;
  color: #f5f5f5;
  /* margin-top: 25px; */
}

.pay-btn:hover {
  background-color: #25c28e;
}

.payment-title {
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 10px;
  margin-top: 10px; */
}

/* .hide {
  display: none;
}

.show {
  display: flex;
} */

.fa-solid {
  color: #f5f5f5;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 20px;
}

.confirmation-msg {
  margin-top: 20px;
  background-color: #374151;
  width: 90%;
  height: 5rem;
  display: none;
  color: #f5f5f5;
  margin-bottom: 50px;
  margin: 0 auto;
  border-radius: 3px;
}

.message-display {
  padding-left: 50px;
  padding-top: 30px;
}
